<div class="tab-pane" id="tab2">
  <fieldset>
    <legend>Quel est l'ordre de grandeur du budget annuel (prévisionnel) de votre association:</legend>
    <label>Cette information nous sert à adapter le type de statuts à la taille de votre association. Si votre budget est inférieur à 10.000 euros, nous vous recommandons une association sans conseil d’administration pour en faciliter le fonctionnement.</label>
    <label>Un seul choix possible:</label>
    <label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Quelques milliers d'euros au maximum
    </label>
    <label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Entre 10 et 100.000 euros
    </label>
    <label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Supérieur à 100.000 euros
    </label>
  </fieldset>
  <fieldset>
    <legend>Régimes particuliers (plusieurs choix possibles)</legend>
    <label>Certains régimes juridiques ou fiscaux demandent une organisation statutaire particulière ou des mentions spéciales dans les statuts. Par exemple, si votre association conduit des activités lucratives, celles-ci doivent obligatoirement être mentionnées dans les statuts. Renseignez-vous sur le(s) régime(s) juridiques et/ou fiscaux applicables à votre association : attention ils ne sont pas tous compatibles entre eux.</label>
    <label class="checkbox">
    <input type="checkbox">
    Association fermée
    </label>
    <label class="checkbox">
    <input type="checkbox">
    Association sollicitant un agrément (intérêt général)
    </label>
    <label class="checkbox">
    <input type="checkbox">
    Association sollicitant des subventions publiques
    </label>
    <label class="checkbox">
    <input type="checkbox">
    Association émettant des reçus fiscaux pour les dons et les adhésions (art. 200 CGI)
    </label>
    <label class="checkbox">
    <input type="checkbox">
    Association conduisant des activités lucratives
    </label>
    <label class="checkbox">
    <input type="checkbox">
    Aucun régime particulier
    </label>
  </fieldset>
  <fieldset>
    <legend>Sources de revenus</legend>
    <label>Il est d’usage de lister dans les statuts les différentes sources de revenus de l’association. Nous vous suggérons de ne pas modifier la liste que nous avons pré-établie. Vous pouvez toutefois décider de supprimer la possibilité de recourir à des emprunts à titre exceptionnel. Si vous prévoyez de faire appel à la générosité du public en organisant des quêtes ou des campagnes nationales d’appel aux dons, cochez la case correspondante.</label>
    <div ng-show="status.type == 'declared' || status.type == 'authorized'">
      <label class="checkbox">
      <input type="checkbox">
      Le bénévolat ;
      </label>
      <label class="checkbox">
      <input type="checkbox">
      Les cotisations ;
      </label>
      <label class="checkbox">
      <input type="checkbox">
      Les subventions de l’état, des collectivités territoriales et des établissements publics ;
      </label>
      <label class="checkbox">
      <input type="checkbox">
      Le produit des manifestations qu’elle organise ;
      </label>
      <label class="checkbox">
      <input type="checkbox">
      Les intérêts et redevances des biens et valeurs qu’elle peut posséder ;
      </label>
      <label class="checkbox">
      <input type="checkbox">
      La rétribution des services rendus ou des prestations fournies par l'association ;
      </label>
      <label class="checkbox">
      <input type="checkbox">
      Les dons manuels ;
      </label>
      <label class="checkbox">
      <input type="checkbox">
      à titre exceptionnel le recours en cas de nécessité, à un ou plusieurs emprunts bancaires ou privés
      </label>
      <label class="checkbox">
      <input type="checkbox">
      (facultatif) L’appel à la générosité du public
      </label>
    </div>
    <div ng-show="status.type == 'non_declared'">
      <a href="#" data-toggle="tooltip" data-placement="right" data-original-title="Dans une association non déclarée, les types de ressources sont limités par l’absence de personnalité juridique. Vous ne pouvez donc modifier cette clause.">
        <ul>
          <li>l'organisation entre les membres de réunions, séances de travail ;</li>
          <li>l’organisation entre les membres de diverses manifestations et toute initiative pouvant aider à la réalisation de l’objet de l’association ;</li>
          <li>Tout autre moyen permettant l'accomplissement de son objet et compatible avec l’absence de personnalité juridique de l’association.</li>
        </ul>
      </a>
    </div>
  </fieldset>
</div>
