<div class="tab-pane" id="tab1">
  <fieldset>
        <legend>Choisissez votre type d'association</legend>
        <label>
          Par défaut, il est proposé de créer une association déclarée. Ce type d’association correspond aux situations les plus courantes. Toutefois vous pouvez décider de créer une association non déclarée. Si vous prévoyez de solliciter un agrément administratif, cochez la case correspondante : vos statuts seront alors adaptés aux exigences de la loi du 22 mars 2012.
        </label>
        <label>Un seul choix est possible:</label>
        <label class="radio">
          <input type="radio" name="status[type]" value="declared" ng-model="status.type" />
          <a href="#" data-toggle="tooltip" data-placement="right" data-original-title="Ce type d’association est simple et dispose d’une capacité juridique quasi entière, sous réserve d’effectuer une simple déclaration auprès de la préfecture. L’association déclarée vous permet d’ouvrir un compte en banque, de collecter des fonds au service de votre projet, de recevoir des subventions et d’ester en justice. Selon la taille de votre association, nous vous proposerons dans la suite du questionnaire de prévoir ou pas la présence d’un conseil d’administration.">Association déclarée</a>
        </label>
        <label class="radio">
          <input type="radio" name="status[type]" value="non_declared" ng-model="status.type" />
          <a href="#" data-toggle="tooltip" data-placement="right" data-original-title="Il est possible de créer une association sans en faire la déclaration en préfecture. L’association non déclarée ne dispose pas de la personnalité juridique et fonctionne comme un contrat privé entre ses membres. Elle ne pourra pas ouvrir de compte bancaire (les banques refusent de le faire), ni percevoir de subventions (ce serait illégal) ou de dons, ni conclure en son nom de contrat (par ex. location immobilière ou assurance de responsabilité).
          Pour votre association non déclarée, nous vous proposons des statuts adaptés, sans conseil d’administration, pour un fonctionnement souple et fluide. La mention de la non-déclaration figure dans les statuts et si vous décidez de déclarer finalement votre association, il vous faudra procéder à une modification statutaire. ">Association non déclarée</a>
        </label>
        <label class="radio">
          <input type="radio" name="status[type]" value="authorized" ng-model="status.type" />
          <a href="#" data-toggle="tooltip" data-placement="right" data-original-title="Dans de nombreux secteurs, les associations peuvent solliciter un agrément de l’administration qui peut ouvrir droit à certains avantages ou conditionner la pratique des activités. Les agréments comportent tous des exigences à propos des statuts, variables suivant les Ministères. La loi du 22 mars 2012 exige des associations agréées qu’elles répondent à un objet d’intérêt général, qu’elles fonctionnent de manière démocratique et fassent preuve de transparence financière.
          Si vous envisagez de solliciter un agrément, cochez cette case et vos statuts seront mis en conformité avec la loi du 22 mars 2012. Vous pourrez également spécifier le type d’agrément sollicité pour que vos statuts soient complétés.">Association agréée</a>
        </label>
  </fieldset>
  <fieldset>
    <legend>Choisissez la dénomination de votre association</legend>
    <label>Il s’agit du nom de votre association, tel qu’il apparaîtra dans tous les documents officiels, par ex.  <em>Les joyeux randonneurs crestois</em>. Ne faites pas référence au terme « association » ou à la loi de 1901, Vous pouvez adopter une dénomination de fantaisie (par ex. Crisalis) mais attention à ne pas enfreindre les droits des tiers (entreprises, marques). Consultez ici quelques conseils pour choisir en toute sécurité la dénomination de votre association. Lien</label>
    <input type="text" placeholder="" name="status[name]" ng-model="status.name" required/>
  </fieldset>
  <hr>
  <fieldset>
    <legend>Siège de votre association</legend>
    <label>
      Il s’agit de l’adresse de domiciliation de votre association. Nous vous conseillons de préciser uniquement la commune et le code postal. C’est la seule exigence de la loi. De cette manière, vous pourrez déplacer le siège dans la commune sans procéder à une modification des statuts. Si vous voulez malgré tout préciser la rue, cliquez sur la case correspondante.
    </label>
    <label>Commune</label>
    <input type="text" placeholder="Commune" name="status[city]" ng-model="status.city" required />
    <label>Code postal</label>
    <input type="text" placeholder="Code postal" name="status[post_code]" ng-model="status.post_code" required />
    <label><em>Je veux faire figurer l'adresse postale de l'association</em></label>
    <button class="btn btn-info" type="button" ng-click="form.address = true">Renseigner l'adresse</button>
    <br>
    <div ng-show="form.address">
      <input type="text" placeholder="Adresse" name="status[address]" ng-model="status.address" />
    </div>

  </fieldset>
  <hr>
  <fieldset>
    <legend>Durée de votre association</legend>
    <label>
      Par défaut, nous vous proposons une durée illimitée. (Cela ne vous empêche pas à n’importe quel moment de réunir une assemblée générale pour dissoudre l’association et mettrez fin au projet). Toutefois, vous pouvez spécifier une durée de vie limitée pour votre association si cela est important (association de préfiguration, association portant un contrat immobilier, etc). Cliquez alors sur la case correspondante pour définir le terme de votre association.
    </label>
    <label><em>Je veux fixer une durée limitée à mon association</em></label>
    <button class="btn btn-info"type="button" ng-click="status.duration = true">Renseigner</button>
    <div ng-show="status.duration">
      <label><em>Un seul choix est possible</em>
      <label>Fixer la durée de l'association</label>
      <input type="text" placeholder="Durée" name="status[end_duration]" ng-model="end_duration">
      <label>(ou) Fixer la date de fin de l'association</label>
      <input type="date" placeholder="Date" name="status[end_date]" ng-model="end_date">
      <label>(ou) Préciser un événement qui mettra fin à l'association</label>
      <input type="text" placeholder="événement" name="status[end_event]" ng-model="end_event">
    </div>
  </fieldset>
  <hr>
  <fieldset>
    <legend>Objet de votre association</legend>
    <label>
      Il s’agit du but poursuivi par votre association, par ex. la pratique des arts plastiques ou la représentation des locataires de telle résidence. Nous vous proposons un certain nombre d’activités parmi les plus courantes.
    </label>
    <table class="table table-hover table-bordered table-striped">
      <caption>Cocher un seul choix correspondant à l'activité principale</caption>
      <thead>
        <tr>
          <th>Type d'activité</th>
          <th>Commentaire</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
              Association proposant aux particuliers des activités loisirs et artistiques en groupe/milieu scolaire
            </label>
          </td>
          <td>
            Ces associations organisent des pratiques artistiques, culturelles et/ou pédagogiques en groupes ou en milieu scolaire, hors activités sportives.  Si votre association dispense ces activités dans le cadre de cours particuliers se déroulant au domicile des personnes, vous devez plutôt opter pour une association de type 5 Association proposant des services au domicile des personnes. Vous pouvez également spécifier que votre association interviendra en milieu scolaire ou pour former des enseignants ; cela facilitera vos démarches par la suite. Sous certaines conditions, ces associations peuvent bénéficier du régime fiscal des associations fermées.
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Association artistique spectacle vivant amateur
            </label>
          </td>
          <td>
            Ces associations accueillent la pratique amateur de la musique, du théâtre, du chant et de tous les spectacles vivants. Elles peuvent organiser occasionnellement des spectacles et dispenser à titre habituel des cours et séances de pratiques. Sous certaines conditions, ces associations peuvent bénéficier du régime fiscal des associations fermées.
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
              <input type="radio">
              Association portant une action collective, intérêt général local
            </label>
          </td>
          <td>
            Ces associations représentent et défendent les intérêts de personnes privées sur une base affinitaire ou géographique.  C’est typiquement le modèle des associations “d’anciens” ou de locataires. Elles peuvent organiser des activités et proposer des manifestations exceptionnelles. Sous certaines conditions, ces associations peuvent bénéficier du régime fiscal des associations fermées.
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
              <input type="radio">
              Association humanitaire ou de solidarité internationale (faisant appel aux dons)
            </label>
          </td>
          <td>
            Ces associations organisent des chantiers de solidarité internationale et les financent en faisant appel aux dons. Sous certaines conditions, elles peuvent émettre des reçus fiscaux pour leurs adhérents et donateurs. Cela leur interdit toutefois des conduire des activités à caractère lucratif.
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
              Association proposant des services au domicile des personnes
            </label>
          </td>
          <td>
            Ces associations proposent aux particuliers des services à domicile dans le domaine du ménage, de l’entretien de la maison ou du soutien scolaire. Elles interviennent en mode mandataire ou prestataires. Leur activité reste soumise à la loi du janvier . Les prestations rendues aux familles ouvrent droit pour elles à l’avantage fiscal de l’article 199 du CGI.
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios6" value="option6">
              Association de défense de l’environnement
            </label>
          </td>
          <td>
            Les associations agréées de défense de l’environnement peuvent agir dans 4 domaines différents : protection et l'amélioration du cadre de vie, de l'habitat et de l'environnement, la lutte contre les nuisances sonores, lutte contre la pollution, défense de l'environnement par la protection de la flore sauvage [et/ou] de la faune sauvage
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios7" value="option7">
              Association de défense des consommateurs
            </label>
          </td>
          <td>
            l’agrément “défense du consommateur” est accordé aux associations justifiant de
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios8" value="option8">
              Association gestionnaire d’un équipement collectif
            </label>
          </td>
          <td>
            Sous certaines conditions, ces associations peuvent bénéficier du régime fiscal des associations fermées.
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios9" value="option9">
              Association portant une communauté en ligne, un site web, un forum
            </label>
          </td>
          <td>
            Sous certaines conditions, ces associations peuvent bénéficier du régime fiscal des associations fermées.
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios10" value="option10">
              Association portant un cercle privé, club,amicale
            </label>
          </td>
          <td>
            Sous certaines conditions, ces associations peuvent bénéficier du régime fiscal des associations fermées.
          </td>
        </tr>
        <tr>
          <td>
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios11" value="option11">
              Fédération d’associations, réseau d’entreprises
            </label>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <label>
      Si votre projet ne rentre dans aucun de ces cas, formulez ci-dessous l’objet de votre association.
    </label>
    <input type="textarea" placeholder="">
  </fieldset>
  <hr>
  <fieldset>
    <legend>Moyens d'action</legend>
    <div ng-show="status.type == 'declared' || status.type == 'authorized'">
    <label>
      Il est d’usage de préciser dans les statuts les moyens d’actions que l’association mettra en œuvre pour réaliser son objet. Nous vous proposons par défaut une liste qui n’est pas limitative. Nous avons également ajouté les moyens spécifiques correspondant à l’objet que vous avez déclaré. Vous pouvez toutefois ajouter d’autres moyens en cochant la case prévue à cet effet. Si votre association conduit des activités lucratives, celles-ci seront automatiquement ajoutées à cette rubrique.
    </label>
    <label>
      <em>Attention : ne modifiez cette rubrique que si vous savez exactement ce que vous faites.</em>
    </label>
    <label class="checkbox">
        <input type="checkbox" name="status[mean_publication]" ng-model="status.mean_publication" />
         les publications, les conférences, les réunions de travail ;
      </label>
      <label class="checkbox">
        <bool-input name="mean_event">
        <input type="checkbox" name="status[mean_event]" ng-model="status.mean_event" />
        l'organisation de conventions et événements;
      </label>
      <label class="checkbox">
          <input type="checkbox" name="status[mean_manifestation]" ng-model="status.mean_manifestation" />
        l’organisation de diverses manifestations et toute initiative pouvant aider à la réalisation de l’objet de l’association ;
      </label>
      <label class="checkbox">
        <input type="checkbox" name="status[mean_others]" ng-model="status.mean_others"  />
        tout autre moyen permettant l'accomplissement de son objet ;
      </label>
      <label>Ajouter des ativités annexes</label>
      <input type="textarea" name="status[mean_added]" placeholder="">
      </div>
        <div ng-show="status.type == 'non_declared'">
        <a href="#" data-toggle="tooltip" data-placement="right" data-original-title="Les moyens d’actions d’une association non déclarée sont limitées. Vous ne pouvez modifier cette clause ">
          <ul>
                <li>l'organisation entre les membres de réunions, séances de travail ;</li>
                <li>l’organisation entre les membres de diverses manifestations et toute initiative pouvant aider à la réalisation de l’objet de l’association ;</li>
                <li>Tout autre moyen permettant l'accomplissement de son objet et compatible avec l’absence de personnalité juridique de l’association.</li>
            </ul>
          </a>
        </div>
    </label>
  </fieldset>
  <hr>
</div>
