<div class="tab-pane" id="tab3">
  <fieldset>
    <legend>Adhésion – Retrait- Exclusion</legend>
    <label>Pour se joindre à l’association, il faut en devenir membre et adhérer à ses statuts. </label>
    <div class="row-fluid">
      <div class="span4">
        <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          L’adhésion est libre et ouverte à tous (recommandé) par défaut.
        </label>
        <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          L’adhésion est soumise au respect de certaines conditions (précisez ici : par exemple : habiter à Grigny, avoir été salariés de FIRMU SA, être locataires du square des Myosotis, être malade et familles du syndrome Aspergum, etc)
        </label>
        <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          L’adhésion est soumise à la décision d’un organe de l’association ou de certaines personnes (par ex. membres fondateurs). Le refus d’une candidature doit être motivé.
        </label>
        <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" checked>
          L’adhésion se fait par cooptation : la candidature est acceptée de manière discrétionnaire par une personne (choix impossible ici) ou un groupe constitué (par ex. organe de l’association, fondateurs)
        </label>
      </div>
      <div class="span8 well">
        Les membres peuvent accéder librement à l’association, sans restrictions aucune ou peuvent être choisis selon des critères bien précis ou encore de manière parfaitement discrétionnaire (cooptation). Toutes les formules sont possibles mais dans les associations d’intérêt général et pour les associations distribuant des reçus fiscaux, les adhésions doivent être libres et ouvertes à tous.
      </div>
    </div>
  </fieldset>
  <hr>
  <fieldset>
    <label>
      Le cas échéant, l’adhérent peut quitter l’association : </label>
    <label class="checkbox">
      <input type="checkbox">
      A sa demande. L’adhérent a le droit de se retirer à tout moment, en dénonçant son adhésion /par lettre recommandée et en n’acquittant plus la cotisation annuelle.
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Automatiquement en cas de non-paiement de la cotisation annuelle (recommandé, par défaut)
    </label>
    <label class="checkbox">
      <input type="checkbox">
      En cas de faute grave, de non-respect des statuts, sur exclusion prononcée comme sanction par AG/CA/Bureau/Membres fondateurs/autres
    </label>
  </fieldset>
  <hr>
  <fieldset>
    <label> Pour participer aux activités de l’association, faut-il obligatoirement être adhérent ?</label>
    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Oui
    </label>
    <label class="radio">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Non
    </label>
    Si vous n’avez pas d’idée claire à propos de cette question, renseignez-vous maintenant à propos du régime fiscal de votre future association. Certains choix statutaires conditionnent la manière dont votre activité sera considérée par l’administration fiscale ; c’est important. Consultez ici un article à propose de l’association fermée.
  </fieldset>
  <fieldset>
    <legend>Droits des membres</legend>
    <label>
      Votre association peut identifier des membres fondateurs, pour leur conférer un statut particulier (facultatif). Par exemple, les membres fondateurs seront membre de droit du conseil d’administration d’une maison de retraite ou ils exerceront un droit de veto dans le recrutement d’un club privé.
      <br>
      A la qualité de fondateurs, l’association peut attacher toutes sortes de fonctions et privilèges (par ex. La dispense du paiement d’une cotisation).  Les membres fondateurs doivent être identifiés nominativement dans les statuts ou figurer sur une liste en annexe des statuts déposés en préfecture. Les privilèges ne doivent pas porter atteinte au caractère désintéressé de la gestion associative.
      <br>
      On peut créer autant de catégorie de membres que l’on veut ; il suffit de leur donner un nom, de fixer les prérogatives de ces membres et d’indiquer la nature de leur participation financière (pas le montant).
      <br>
      L’association connait par défaut deux catégories d’adhérents ; les membres et les membres bienfaiteurs qui ne disposent pas de voix à l’assemblée générale.
    </label>
    <label>
      <strong>Créer de nouvelles catégories de membres:</strong>
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Collèges
    </label>
    <label class="checkbox">
      <input type="checkbox">
      Fondateurs
    </label>
    <label>Autres</label>
    <input type="textarea" placeholder="">
    </label>
  </fieldset>
  <hr>
  <fieldset>
    <label>
      Les membres de l’association ont les droits suivants :
    </label>
    <label class="checkbox">
      <input type="checkbox" checked>
      Participer aux activités de l’association
    </label>
    <label class="checkbox">
      <input type="checkbox" checked>
      Participer aux assemblées générales, avec voix consultative
    </label>
    <label class="checkbox">
      <input type="checkbox" checked>
      Participer aux assemblées générales, avec voix délibérative
    </label>
    <label class="checkbox">
      <input type="checkbox" checked>
      Elire et révoquer les dirigeants
    </label>
    <label class="checkbox">
      <input type="checkbox" checked>
      Etre éligible aux fonctions dirigeantes
    </label>
    <label class="checkbox">
      <input type="checkbox" checked>
      Tous ces droits (recommandé)
    </label>
  </fieldset>
</div>
