<div class="tab-pane" id="tab4">
  <fieldset>
    <legend>Assemblée Générale</legend>
    <label>
    Les tribunaux considèrent que dans une association, l’organe souverain est l’assemblée générale des membres. Pour assurer votre sécurité juridique, nous ne proposons donc que ce type d’organisation.
    Vous devez déterminez les modalités ….
    </label>
  </fieldset>
  <fieldset>
    <legend>Conseil d'administration</legend>
    <label>
    Il est d’usage de prévoir un Conseil d’administration, élu par l’assemblée et désignant les dirigeants. Toutefois, ce fonctionnement n’a rien n’obligatoire et vous pouvez (dans certains cas) vous passer de CA, le fonctionnement de votre association en sera allégé. Dans ce cas, les dirigeants sont élus directement en assemblée générale et toutes les prérogatives habituelles du CA sont conférées au bureau.<br>
    Si la case ci-dessous n’est pas modifiable, c’est que le budget de votre association ou son régime particulier (agrément, fonctionnement collégial) incitent à conserver un CA.
    </label>
  </fieldset>
  <fieldset>
    <legend>Dirigeants </legend>
    <label>
    Il est d’usage de constituer un bureau composé d’un président, d’un trésorier et d’un secrétaire.<br>
    Nous vous recommandons d’insérer dans vos statuts une description de ces différents postes pour préciser les responsabilités de chaque dirigeant.<br>
    Toutefois, cette organisation n’a rien d’obligatoire et vous pouvez adopter pour vos dirigeants la dénomination que vous souhaitez.<br>
    </label>
  </fieldset>
  <fieldset>
    <legend>Transparence financière</legend>
    <label>
    Vous pouvez éventuellement faire figurer dans vos statuts différentes clauses pour organiser la transparence financière de votre association. Ces clauses sont obligatoires pour les associations sollicitant un agrément administratif.
    </label>
  </fieldset>
</div>
