<div class='container' ng-controller="statusController">
  <div class="span12">
    <section id="wizard">
      <div class="page-header">
        <h1>Remplissez le formulaire ci-dessous pour obtenir vos statuts</h1>
      </div>
      <div id="rootwizard">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul>
                <li><a href="#tab1" data-toggle="tab">1 Mentions obligatoires</a></li>
                <li><a href="#tab2" data-toggle="tab">2 Modèle socio-économique</a></li>
                <li><a href="#tab3" data-toggle="tab">3 Membres</a></li>
                <li><a href="#tab4" data-toggle="tab">4 Gouvernance</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="bar" class="progress progress-striped active">
          <div class="bar"></div>
        </div>
        <form name="statusForm" method="post" ng-submit="submit(statusForm.$valid, $event)" novalidate>
          <div class="tab-content">
            <%= erb :form_tab_1 %>
            <%= erb :form_tab_2 %>
            <%= erb :form_tab_3 %>
            <%= erb :form_tab_4 %>
          </div>
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
        <ul class="pager wizard">
          <li class="previous first" style="display:none;"><a href="#">First</a></li>
          <li class="previous"><a href="#">Previous</a></li>
          <li class="next last" style="display:none;"><a href="#">Last</a></li>
          <li class="next"><a href="#">Next</a></li>
        </ul>
          </div>
      </div>
    </section>
  </div>
</div>
