<p>
  Bonjour,
</p
<p>
  Merci d'avoir fait appel à nos services. Veuillez trouver vos statuts en pièce jointe.
</p>
<p>
  Il s'agit d'un pdf non protégé, vous pouvez donc librement copier et coller son contenu, ou le modifier.
</p>
<p>
  Cordialement,
</p>
  L'équipe de Association 1901



