<html>
  <head>
  </head>
  <body>
    <h1>Status</h1>

    <h2>Titre I</h2>
    <h2>PRÉSENTATION DE L’ASSOCIATION</h2>

    <section>
      <h3>Article 1 : Dénomination, siège social et droit applicable</h3>

      <ol>
        <li>Il est fondé entre les adhérents aux présents statuts une association ayant pour

          dénomination : <%= @status.name %>  aussi appelée : « ................... ». .</li>
        <li>Le siège social est fixé à <%= @status.city %> (CP <%= @status.post_code %>). Il pourra être modifié par décision du

          Bureau.</li>
        <li>L'association est régie par la loi du 1er juillet 1901 et le décret du 16 août 1901.</li>
      </ol>
    </section>
  </body>
</html>
